
{% extends 'blog/base.html' %}

{% block title %}
    Comment List
{% endblock %}

{% block create_button %}
    {% if perms.base.add_comment %}
    <a
        href="{% url 'base_comment_create_urlpattern'  %}"
        class="button button-primary">
      Create New Comment</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h2>Comment List</h2>
    {% if perms.base.add_comment %}
    <div class="mobile">
      <a
          href="{% url 'base_comment_create_urlpattern' %}"
          class="button button-primary">
        Create New Comment</a>
    </div>
    {% endif %}
  <ul>
    {% for comment in comment_list %}
      <li>
        <a href="{{ comment.get_absolute_url }}">
          {{ comment }}</a>
      </li>
    {% empty %}
      <li><em>There are currently no comment.</em></li>
    {% endfor %}
  </ul>
{% endblock %}
